@model Champion
@{
}

<div class="row mb-3">
  <div class="col-md-12 text-center">
    <a 
      class="mt-2 skin-btn" 
      asp-action="Details"
      asp-controller="League"
      asp-route-id="@Model.Id"
    >
      @Model.Name
    </a>
  </div>
</div>

@if (Model.Skins == null)
{
  <div class="row">
    <div class="col-md-12">
      <h2>Skins not found</h2>
    </div>
  </div>
}
else 
{
  <div class="row">
    @foreach (var skin in Model.Skins)
    {
      <div class="col-md-6 mb-3">
        <img src="@skin.ImageUrl" class="img-fluid rounded" />
        <div class="row align-items-baseline">
          <div class="col-md-9">
            <h3>@skin.Name</h3>
          </div>
          <div class="col-md-3 text-end">
            <span class="riot-point-price">
              <img src="/img/prices/RP_icon.webp" class="img-fluid" alt="blue essence price">
              @skin.RiotPoints
            </span>
          </div>
        </div>
      </div>
    }    
  </div>
}

